.rental-card{
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  overflow: hidden;
}

.rental-card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-img-top{
  width: 100%;
  height: 200px;
  object-fit:cover;
}

.card-body{
  padding: 1rem;
}

.title{
  color: #333;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.key{
  font-weight: bold;
}

.value{
  font-weight: normal;
}

.btn-holder{
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.btn-holder div{
  display:flex;
  justify-content: space-between;
}

.btn-primary{
  background-color: #007bff;
  border-color: #007bff;
}
.btn-danger{
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-dark{
  background-color: #343a40;
  border-color: #343a40;
}

.button{
  cursor:pointer;
  transition: background-color 0.2s ease-in-out;
}

.button-hover{
  opacity: 0.8;
}