/*.rental-card{ ------------------------------ First Design 
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  overflow: hidden;
}

.rental-card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-img-top{
  width: 100%;
  height: 200px;
  object-fit:cover;
}

.card-body{
  padding: 1rem;
}

.title{
  color: #333;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.key{
  font-weight: bold;
}

.value{
  font-weight: normal;
}

.btn-holder{
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.btn-holder div{
  display:flex;
  justify-content: space-between;
}

.btn-primary{
  background-color: #007bff;
  border-color: #007bff;
}
.btn-danger{
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-dark{
  background-color: #343a40;
  border-color: #343a40;
}

.button{
  cursor:pointer;
  transition: background-color 0.2s ease-in-out;
}

.button-hover{
  opacity: 0.8;
}
*/

.rentals-list-wrapper{
  display:flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

}

.rental-card {
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  overflow: hidden;
}

.rental-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
}

.rental-card .card-footer .btn{
  width: 100%;
}

.card-content{
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.card-footer{
  margin-top: auto;
  padding: 15px;
  background: #f9f9f9;
}


.card-img-top {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 200px; 
  object-fit: cover;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.card-text {
  color: #666;
  margin-bottom: 0.5rem;
}

.btn-holder{
  margin-top:auto;
}


.btn-outline-primary {
  border-color: #ff5a5f;
  color: #ff5a5f;
}

.btn-outline-primary:hover {
  background-color: #ff5a5f;
  color: white;
}

.btn-outline-danger {
  border-color: #ff5a5f;
  color: #ff5a5f;
}

.btn-outline-danger:hover {
  background-color: #ff5a5f;
  color: white;
}

.btn-outline-secondary {
  border-color: #ccc;
  color: #333;
}

.btn-outline-secondary:hover {
  background-color: #ccc;
  color: white;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-auto {
  margin-top: auto;
}

.w-100 {
  width: 100%;
}
