*,
*::before,
*::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Circular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.navbar{
  background-color:#FF5A5F;
  padding: 10px 20px;

}

.navbar-brand img{
  height: 30px;
}

.nav-link{
  color: #ffffff !important;
  font-weight: bold;
  font-size: 16px;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link:focus{
  color: #FFB2B2 !important;
}

.navbar-toggler{
  border:none;
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}

@media (max-width: 992px){
  .navbar-brand{
    flex-grow: 1;
    text-align: center;
  }

.nav-link{
  text-align: center;
  padding: 8px 0;

}
}

.nav-link.active{
  color:#FFF !important;
  border-bottom: 2px solid #ffffff;
}
