.rental-info-container {
  display: flex;
  flex-direction: column;
}

.inner-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.rental-text-info {
  width: 45%;
}

.carousel {
  max-width: 700px;
  margin: 0 auto;
}

.carousel img {
  max-width: 700px;
  height: auto;
}

.rent-form {
  border: 1px solid grey;
  border-radius: 25px;
  padding: 25px 60px;
}

.rent-form .spans {
  padding: 10px;
}
