.rental-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.rental-form-wrapper form {
  border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
}
